<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420238324522-3bo6tee71lk8s5bkd620far7uss8s5n0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420238324522-3bo6tee71lk8s5bkd620far7uss8s5n0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>420238324522-07gvuh8m9f550t64oq0ot2pgvr2dg310.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCj13-tNiNVTHUQ3AXL8VNiY28KzxEPkNU</string>
	<key>GCM_SENDER_ID</key>
	<string>420238324522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sparksfly.sparksify</string>
	<key>PROJECT_ID</key>
	<string>sparksfly-57b2a</string>
	<key>STORAGE_BUCKET</key>
	<string>sparksfly-57b2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420238324522:ios:a49bdcb697599c2d926453</string>
</dict>
</plist>